
body {
    background-color: beige;
}

.randomDie {
    position: relative;
    height: 100px;
    width: 100px;
    background-color: pink;
    text-align: center;
    margin: 10px;
    padding: 4px;
    font-size: 60px;
    
}

.btnDiv {
    /* display: inline;
    margin: 10px; */
}

.rollDie {
/* display: inline; */
}
